{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<h1><a href="./register">Inscription</a></h1>
<h1><a href="./login">Login</a></h1>
{% endblock %}
